@charset "UTF-8"

*
  margin 0px
  padding 0px

h1, h2, h3, h4, h5, div, img, ul, ol, li, hr, a, dt, dd, p, span
  margin 0px
  padding 0px
  font-size 16px

img
  border none

li
  list-style none

article, aside, figure, footer, header, hgroup, nav, section
  display block

form, fieldset, legend, label, select, input, option
  margin 0px
  padding 0px
  border none
  display inline-block

.clearfixafter
  visibility hidden
  display block
  font-size 0
  content " "
  clear both
  height 0

.clearfix
  display inline-table 

/* Hides from IE-mac \*/
* html .clearfix
  height 1%
.clearfix
  display block
/* End hide from IE-mac */

body
  margin 0px !important
  padding 0px !important
  color #333
  font-family "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",  Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
  line-height 20px
  background-color #fff

#wrapper
  margin 0px auto
  width 960px
  background-color #fff
  padding 20px
