@charset "UTF-8"

from-top-left(top, left)
  position absolute
  top top
  left left

size(width, height)
  width width
  height height

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  -o-border-radius n
  -ms-border-radius n
  border-radius n

transform(n)
  -webkit-transform n
  -moz-transform n
  -o-transform n
  -ms-transform n
  transform n
